/target
out.txt
notes.txt
people.json
*.swp
test.json
src/stt
log-*
*.bk
commands.*
*dump.json
players.*
test*
*.ignore

# Data
v2_players*.json
yahtzee.json

# Resources
*.wav

# Auth, environment, etc
auth/*
.env
.spotify_token_cache.json
